.aboutSection {
    padding: 80px 0;
    background-color: #f8f9fa;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.title {
    font-size: 2.5rem;
    color: #4417C1;
    text-align: center;
    margin-bottom: 40px;
}

.content {
    display: flex;
    justify-content: center;
}
.textContainer {
    max-width: fit-content;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.textContainer p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #333;
    margin-bottom: 30px;
}

.textContainer p:last-child {
    margin-bottom: 0;
}