body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
}

h2 {
    color: #4417C1;
}

button {
    background-color: #ff8000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #4417C1;
}
