* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px; 
    background-color: #4417C1;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

@media (min-width: 769px) {
    .navbar {
        padding: 10px;
    }

    .logo {
        width: 8%; 
        max-width: 100px;
    }

    .navLinks {
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 15px 5px;
        justify-content: center;
    }

    .navLinks {
        gap: 5px;
        width: 100%; 
        justify-content: space-between; 
    }

    .navLinks li {
        font-size: clamp(0.7rem, 3vw, 0.9rem);
        padding: 0.3vw 0.5vw;
        white-space: nowrap;
    }

    .logo {
        display: none;
    }
}

.logo {
    width: clamp(40px, 4vw + 10px, 60px);
    height: clamp(40px, 4vw + 10px, 60px);
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    border: clamp(2px, 0.2vw + 1px, 4px) solid #ff8000;
    padding: clamp(2px, 0.2vw, 4px);
}

@media (min-width: 769px) {
    .logo {
        max-width: 100px;
        max-height: 100px;
    }
}

.navLinks {
    display: flex;
    gap: 2vw;  
    list-style: none;
}

.navLinks li {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(0.9rem, 1.4vw, 1.4rem); 
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s ease, font-size 0.3s ease;
    padding: 0.5vw 1vw; 
}

.navLinks li:hover {
    color: #ff8000;
    font-size: clamp(0.9rem, 1.4vw, 1.4rem); 
}