* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    background-color: #4417C1;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1100;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.logoContainer {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    width: clamp(40px, 4vw + 10px, 60px);
    height: clamp(40px, 4vw + 10px, 60px);
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ff8000;
    padding: 2px;
    transition: transform 0.3s ease;
    cursor: pointer;
    background-color: white;
}

.logo:hover {
    transform: scale(1.05);
}

.navContent {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navLinks {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navLinks li {
    color: white;
    font-size: clamp(14px, 1vw + 2px, 16px);
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 0.5rem;
    font-weight: bold;
}

.navLinks li:hover {
    color: #ff8000;
}

.menuButton {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem;
    position: absolute;
    right: 1rem;
}

.languageSwitch {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 20px;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.languageSwitch:hover {
    transform: translateY(-2px);
}

.languageOption {
    padding: 0.2rem 0.5rem;
    font-size: 0.9rem;
    color: #4417C1;
    border-radius: 12px;
    transition: all 0.3s ease;
    font-weight: bold;
}

.languageOptionActive {
    background: #ff8000;
    color: white;
}

@media (max-width: 768px) {
    .menuButton {
        display: block;
    }

    .navContent {
        position: fixed;
        top: 52px;
        right: -100%;
        height: calc(100vh - 60px);
        width: 60%;
        max-width: 300px;
        background: #4417C1;
        flex-direction: column;
        padding: 7rem 1.5rem;
        transition: right 0.3s ease;
        box-shadow: -2px 0 10px rgba(0,0,0,0.2);

    }

    .navContent.active {
        right: 0;
    }

    .logoContainer {
        margin: 0 auto;
    }

    .navLinks {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navLinks li {
        width: 100%;
        text-align: center;
        padding: 1rem;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }

    .languageSwitch {
        margin-top: 2rem;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 0.4rem 1rem;
    }

    .logo {
        width: 40px;
        height: 40px;
    }
}